{{define "contextSwitch"}}
<script>
    function showConfigDalog(){
        document.querySelector('#configDalog').showModal()
    }

    function closeConfigModal(){
        document.querySelector('#configDalog').close()
    }

    async function saveConfigModal(){
        let context = document.querySelector('#context').value
        let namespace = document.querySelector('#namespace').value
        await fetch("/api/context-change?context="+context+"&namespace="+namespace)
        document.querySelector('#configDalog').close()
        window.location.reload()
    }
</script>
Context: <span style="color: red;"> {{.CurrentContext}} </span> </br>
Namespace: <span style="color: red;"> {{.Namespace}}</span></br> 
<button onclick="showConfigDalog()">config switch</button><br/>
<dialog style="width: 400px; height:300px;" id="configDalog">
    <div style="width: 300px; height:200px; text-align: center; ">
        <table>
            <tr>
                <th>
                    <label for="context">context:</label>
                </th>
                <td>
                    <select name="context" id="context">
                    {{ range $base:= .ContextList}}
                    <option value="{{$base}}">{{$base}} </option> 
                    {{end}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="namespace">namespace:</label>
                </th>
                <td>
                    <input id="namespace" value="{{.Namespace}}"></input>
                </td>
            </tr>
      
      
        </table>
    </div>
    <button style="float: left; bottom: auto;" onclick="saveConfigModal()" >save</button>
   <button style="float: right; bottom: auto;" onclick="closeConfigModal()" >close</button>
 </dialog>
{{end}}