<!DOCTYPE html>

<html>
    <script src="js/auth.js"></script>
    <script >
        function tableJsonGenerate(data){
            
            let table = document.createElement("table")
            table.setAttribute("id","data-json")
            table.setAttribute("class","table")
           
            for (const [key, value] of Object.entries(data)) {
               let tr = document.createElement("tr")
               let keyTd= document.createElement("td")
               keyTd.textContent = key
               let valueTd= document.createElement("td")
               valueTd.textContent = value
               tr.appendChild(keyTd)
               tr.appendChild(valueTd)
               table.appendChild(tr)
            }
           
            return table
        }
        async function configMapView(name){
            fetch("api/configmap-detail?configmap="+name).then(async (result)=>{
                result = await result.json()
                let dataJson = document.getElementById("data-json")
                if(dataJson!=undefined){
                    dataJson.remove()
                }
                table = tableJsonGenerate(result)
                document.querySelector("#dialog-data").appendChild(table);
                document.querySelector('#dialog').showModal()
            })
           
        }

        function closeModal(){
            document.querySelector('#dialog').close()
        }
    </script>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {{template "style"}}
		<title>Local DashBoard</title>
	</head>
	<body>
        {{template "contextSwitch" .}}
        {{template "navigator"  }}

        <table class="table">
            <tr>
                <th>Configmap</th>
                <th>NameSpace</th>
                <th>Action</th>
            </tr>
            <tbody>
		{{ range $base :=.ResultList }}
            <tr class="tbbody"><td>{{ $base.Name }}</td>
                <td>{{ $base.Namespace }}</td>
                <td><button  class="btn btn-primary" onclick="configMapView('{{ $base.Name }}')" >view data</button></td>
            </tr>       
        {{end}}
            </tbody>
        </table>
	</body>

    <dialog " id="dialog">
        <div class="modal-dialog">
            <div  class="modal-body" id="dialog-data">
            </div>
         </div>
      <button  class="btn btn-secondary" style="float: right; bottom: auto;" onclick="closeModal()" >close</button>
    </dialog>
</html>