<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Local DashBoard</title>
	</head>
	<body>
        {{template "contextSwitch" .}}
        {{template "navigator"  }}
    
        <table>
            <tr>
                <th>Deployments</th>
                <th>Containers</th>
                <th>Image</th>
                <th>Status</th>
            </tr>
		{{ range $base :=.ResultList }}
            {{ range .Containers}}
            <tr class="tbbody"><td>{{ $base.Name }}</td><td>{{ .Name }}</td> 
            <td>{{ .Image }}</td> 
            <td>{{$base.Status}}</td></tr>
            {{ end }}        
        {{end}}
        </table>
	</body>
</html>