<!DOCTYPE html>

<html>
  <head>
    <script src="js/auth.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {{template "style"}}
    <title>Local DashBoard</title>
    <script>
      function childrenExport() {
        var exportMap = {};
        var returnMap = [];
        var typeName = "deployment";
        document.querySelectorAll(".item-check").forEach(function (item) {
          if (item.checked == true) {
            var mapList = String(item.value).split("||");
            if (exportMap[mapList[0]] == undefined) {
              exportMap[mapList[0]] = [mapList[1]];
            } else {
              exportMap[mapList[0]].push(mapList[1]);
            }
          }
        });
        downloadJSONFile(
          exportMap,
          "export-" + typeName + "-" + new Date().getTime() + ".json"
        );
      }
    </script>
  </head>
  <body>
    {{template "contextSwitch" .}} {{template "navigator" }}

    <table class="table">
      <tr>
        <th>
          <input
            onchange="selectChange(value)"
            class="form-check-input"
            type="checkbox"
            value="select-all"
            id="select-all"
          />
        </th>
        <th>Deployments</th>
        <th>Containers</th>
        <th>Selector</th>
        <th>Image</th>
        <th>Status</th>
        <th>Yaml(All)</th>
      </tr>
      {{ range $base :=.ResultList }} {{ range .Containers}}
      <tr class="tbbody">
        <td>
          <input
            class="form-check-input item-check"
            type="checkbox"
            value="{{ $base.Name }}||{{ .Image }}"
            id="{{ $base.Name }}||{{ .Image }}"
          />
        </td>
        <td>{{ $base.Name }}</td>
        <td>{{ .Name }}</td>
        <td>{{ $base.Selector}}</td>
        <td>{{ .Image }}</td>
        <td>{{$base.Status}}</td>
        <td>
          <a
            type="button"
            class="btn btn-primary"
            target="_blank"
            href="/api/deploymentYaml?deployment={{ $base.Name}}"
            >Yaml</a
          >
        </td>
      </tr>
      {{ end }} {{end}}
    </table>
  </body>
</html>
