<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {{template "style"}}
		<title>Local DashBoard</title>
	</head>
	<body>
        {{template "contextSwitch" .}}
        {{template "navigator"  }}
    
        <table  class="table">
            <tr>
                <th>Deployments</th>
                <th>Containers</th>
                <th>Selector</th>
                <th>Image</th>
                <th>Status</th>
                <th>Yaml(All)</th>
            </tr>
		{{ range $base :=.ResultList }}
            {{ range .Containers}}
            <tr class="tbbody">
                <td>{{ $base.Name }}</td>
                <td>{{ .Name }}</td> 
                <td>{{ $base.Selector}}</td>
                <td>{{ .Image }}</td> 
                <td>{{$base.Status}}</td>
                <td><a  type="button" class="btn btn-primary" target="_blank" href="/api/deploymentYaml?deployment={{ $base.Name}}">Yaml</a></td>
            </tr>
            {{ end }}        
        {{end}}
        </table>
	</body>
</html>