<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {{template "style"}}
		<title>Local DashBoard</title>
	</head>
	<body>
        {{template "contextSwitch" .}}
        {{template "navigator"  }}

        <table  class="table">
            <tr>
                <th>Ingress</th>
                <th>NameSpace</th>
                <th>HOST</th>
            </tr>
		{{ range $base :=.ResultList }}
            {{ range .Rules }}
            <tr class="tbbody">
                <td>{{ $base.Name }}</td>
                <td>{{ $base.Namespace }}</td>
                <td><a  target="_blank" href="https://{{ .HOST}}">https://{{ .HOST}}</a></td>
            </tr> 
            {{end}}      
        {{end}}
        </table>
	</body>

    <dialog style="width: 700px; height:700px;" id="dialog">
       <div style="width: 650px; height: 650px; text-align: center; " id="dialog-data">
         
       </div>
      <button style="float: right; bottom: auto;" onclick="closeModal()" >close</button>
    </dialog>
</html>