<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Local DashBoard</title>
	</head>
	<body>
        {{template "contextSwitch" .}}
        {{template "navigator"  }}
    
        <table>
            <tr>
                <th>Service</th>
                <th>Namespace</th>
                <th>Type</th>
                <th>Selector</th>
            </tr>
		{{ range $base :=.ResultList }}
            <tr class="tbbody">
                <td>{{ $base.Name }}</td>
                <td>{{ $base.Namespace }}</td> 
                <td>{{ $base.Type }}</td> 
                <td>{{ $base.Selector }}</td>
            </tr>
        {{end}}
        </table>
	</body>
</html>